/* Styles for Project 0 */
$backcolor: SeaGreen;
$textcolor: Khaki;
$bordercolor: darkgreen;
$headercolor: DarkOrange;
$headertextcolor: white;

body {
      background-color: $backcolor;
      width: 75%;
      color: $textcolor;
      font-size: 18px;
      padding: 12px;
}

a:visited {color: goldenrod;}
a {color: yellow;}
a:hover {color: red;}

.videos {
  background-color: gold;
  color: black;
  padding: 15px;
  margin: 5px;}
#carl-cat-image {border: 2; border-color: red; margin: 5px;}
table {
      border-color: $bordercolor;
      border-collapse: collapse;
}

th {
    padding: 10px;
    background-color: $headercolor;
    color: $headertextcolor;
}

.bigtable tr:nth-child(even) {background-color: #aaa;}

tr:hover {background-color: #bbb;}

td {
    color: DarkSlateGray;
    padding: 10px;
}
